@import "../../../../layout/sass/conf/conf";

:host /deep/.device-status-stat {
  color: $content-text;

  .device-status-stat-item-container {
    top:50%;
    position: relative;
    padding: 0 0px;
    float: left;
    box-sizing: border-box;
  }

  @media screen and (min-width: 1325px) {
    .device-status-stat-item-container {
      max-width: 50%;
      flex: 0 0 50%
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1325px) {
    .device-status-stat-item-container {
      max-width: 50%;
      flex: 0 0 50%
    }
  }
  @media screen and (max-width: 700px) {
    .device-status-stat-item-container {
      max-width: 100%;
      flex: 0 0 100%
    }
  }

  .device-status-stat-item {
    position: relative;
    display: inline-block;
    padding: 20px 0 0 60px;
    opacity: 0.9;
    .device-status-stat-item-name {
      font-size: 12px;
      max-width:50%;
    }
    .device-status-stat-item-stats {
      padding-left:30px;
      padding-top: 8px;
      font-size: 28px;
      max-width:50%;
    }
  }
}
