<div class="form-control">
  <div class="input-group">
    <div class="mr-2">{{ 'workflow.common.currentNode' | translate }}</div>
    <label class="mr-5">{{taskName}}</label>
    <div class="mr-2">{{ 'workflow.common.currentApproval' | translate }}</div>
    <label class="mr-5">{{assignee}}</label>
    <div class="mr-2">{{ 'workflow.common.initiatedBy' | translate }}</div>
    <label class="mr-5">{{applyUserId}}</label>
    <div class="mr-2">{{ 'workflow.common.timeOfInitiation' | translate }}</div>
    <label class="mr-5">{{createTime}}</label>
  </div>
</div>