<div class="row">
  <div class="col-xlg-8 col-xl-8 col-lg-8 col-sm-8 col-8">
    <ba-card class="col-xlg-8 col-xl-8 col-lg-8 col-sm-8 col-8" title="{{'general.dashboard.alarmpostion' | translate}}" baCardClass="alarmpostion-card" style="height:700px">
      <alarm-postion-stat></alarm-postion-stat>
    </ba-card>
  </div>
  <div class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4">
    <ba-card class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4" title="告警统计" baCardClass="xsmall-card">
      <alarm-level-stat></alarm-level-stat>
    </ba-card>
    <ba-card class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4" title="设备统计" baCardClass="small-card">
      <device-status-stat></device-status-stat>
    </ba-card>
    <ba-card class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4" title="告警趋势" baCardClass="xsmall-card">
      <alarm-trend-chart></alarm-trend-chart>
    </ba-card>
    <ba-card class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4" title="实时" baCardClass="xsmall-card">
      <alarm-real-list></alarm-real-list>
    </ba-card>
  </div>
</div>
